	<div class="container">
		
		<h1>Admin</h1>


	</div>
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
         <!--  <input type="text" class="form-control" id="ide" placeholder="Codigo del vehiculo" ng-model="codigo" ng-paste='handlePaste(e)'> -->

          <textarea rows="1"
           class="form-control"
          placeholder="Codigo del vehiculo"
          ng-init="content = null"
          ng-model="content" 
          ng-paste="paste($event.originalEvent)">
</textarea>


        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <button class="btn btn-default col-lg-2 col-md-2" ng-click="sendMsg()">Enviar</button>  
        </div>
      </div>
    </div>
		 

<hr>

		 <table  class="table">
			<tr class="chat_message" ng-repeat="socket in sockets | limitTo: 15">
				<td class="col-md-12 td_class">
					<strong>{{socket.position}}</strong>	{{socket.id}}
				</td>
			</tr>
		</table>
 

	
 	

	</div>

<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>



  <script type="text/javascript" src="/js/angular.js"></script>
  
   
 
  <script type="text/javascript">

    var socketApp = angular.module('socketApp',[]);


    socketApp.controller('UserController',['$http','$log','$scope', '$timeout',function($http,$log,$scope){

    	 $scope.sockets =[];

        //io.socket.get('/test');
      //  io.socket.get('/user/connectSocket/');
$scope.paste = function (event) {
    var item = event.clipboardData.items[0];
    item.getAsString(function (data) {
      $scope.pastedData = data;
      
       $http.get('http://localhost:3000/consulta/'+data).
                  success(function(data, status, headers, config) {
                    $scope.content = ' '
                     io.socket.post('/user/SendMessage/',{data:data});
                    // this callback will be called asynchronously
                    // when the response is available
                  }).
                  error(function(data, status, headers, config) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                  });

    });
  };


    $scope.sendMsg = function(){
      
      console.log($scope.codigo);
      
          if($scope.codigo == undefined){
            console.log('error');
            return false;
          }else{
            
             $http.get('http://localhost:3000/consulta/'+$scope.codigo).
                  success(function(data, status, headers, config) {
                    $scope.codigo = ''
                     io.socket.post('/user/SendMessage/',{data:data});
                    // this callback will be called asynchronously
                    // when the response is available
                  }).
                  error(function(data, status, headers, config) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                  });
          }
    };       



// $scope.handlePaste = function(event) {
// $scope.$digest();
//         console.log($scope.pastedValue);
  
// }




    $scope.beforeParse=function(data){ console.log('ho')}
   





   window.onload = function subscribeAndListen(){
    // When the document loads, send a request to users.testSocket
    // The controller code will subscribe you to the model 'users'
    io.socket.get('/user/connectSocket/');

    // Listen for the event called 'user' emited by the publishCreate() method.
    io.socket.on('user',function(obj){
      console.log(obj);
       $scope.sockets = obj.data;
       $scope.$digest();
    });
};


    }]);
  </script>