  <style>
    body{
      background-size: auto   100%;
      background-position: center top;
      background-repeat: no-repeat;
    }
    html {
    height: 100%
}

.wrapper {
  position: relative;
  margin: 40px auto;
  background: white;
}
#cuenta {
  position: absolute;
font-size: 30px;
color: #FFF;
text-shadow: 1px 1px 2px #000;
right: 10px;
bottom: 10px;
}
#fin{
  text-align: center;
  font-size: 30px;
  margin-top:30px; 
}
</style>
  <div class="container">
    <h1 ng-bind-html="position"></h1>
  </div>

  <div id="fin" ng-bind-html="fin">

  </div>

  <strong ng-bind-html="cuenta" id="cuenta">1</strong>

   <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>


  


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
 
 
  <script type="text/javascript">

    var socketApp = angular.module('socketApp',[]);


    socketApp.controller('UserController',['$http','$log','$scope','$sce',function($http,$log,$scope, $sce){


      $scope.predicate = '-id';
       
      $scope.reverse = false;
      $scope.baseUrl = 'http://192.168.0.100:1337';
      $scope.chatList =[];
      $scope.getAllchat = function(){

        //io.socket.get('/test');
        //io.socket.get('/user/connectSocket/');

        io.socket.get('/user/connectSocket/', function (resData) {
    
    });


               

        $http.get($scope.baseUrl+'/user')
           .success(function(success_data){
              $scope.chatList = success_data;
             // $log.info(success_data);
           });
        };

      $scope.getAllchat();
      $scope.chatUser = "0"
      $scope.chatMessage="something";
     
      var refreshIntervalId;  

      io.socket.on('slide', function onServerSentEvent (msg) {
           
          $scope.position = $sce.trustAsHtml("");
         
          $scope.fin = $sce.trustAsHtml("");
              $scope.$digest();  

        for(var i= 1; i< 99999; i++ ){
          window.clearInterval(refreshIntervalId)
        }            
        



          script = []

          for (var key in msg) {
             for(var key2 in msg[key]){
             
                 for (var i = 1; i <= msg[key][key2][0]['time']; i++) {                
                     script.push(msg[key][key2][0]['picture'])
                 };

             }
          }


          flag = 1;
           refreshIntervalId = setInterval(function () {
            console.log(script[flag])
            flag = flag+1
            if(script[flag] != undefined){
              console.log(Date())
              document.body.style.backgroundImage = "url('http://localhost:3000/"+script[flag]+"')";

              $scope.cuenta = $sce.trustAsHtml(flag.toString());
              $scope.$digest();


            
          }else{


               for(var i= 1; i< 99999; i++ ){
                  window.clearInterval(refreshIntervalId)
                } 

              $scope.fin = $sce.trustAsHtml("Termino");
              $scope.$digest();  
              document.body.style.backgroundImage = "url()";


          }
            
          }, 1000);

          


    


       

        
    

      });

       io.socket.on('setPosition', function onServerSentEvent (msg) {
            console.log(msg)
          $scope.position = $sce.trustAsHtml(msg.position.toString());
          $scope.$digest();

       });




      $scope.sendMsg = function(){
        io.socket.post('/user/test',{ send: $scope.chatUser, message: $scope.chatMessage });
        $scope.chatMessage = "";
      };


      $scope.getListSockets = function(){
        io.socket.post('/user/listSockets',{});
      };


    }]);
  </script>
